<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tenaris.Confab.SGM.Repositories.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Tenaris.Confab.SGM.Repositories.Properties.Settings.dbConnection" connectionString="Data Source=CFBAUTOENG;Initial Catalog=SGM;Persist Security Info=True;User ID=sa;Password=Cfbautoeng" providerName="System.Data.SqlClient"/>
        <add name="Tenaris.Confab.SGM.Repositories.Properties.Settings.dbConnectionSAB" connectionString="Data Source=CFBAUTOTFC;Initial Catalog=SAB;Persist Security Info=True;User ID=sa;Password=Cfbautotfc"/>
    </connectionStrings>
    <applicationSettings>
        <Tenaris.Confab.SGM.Repositories.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value>TIQ</value>
            </setting>
            <setting name="Sap_User" serializeAs="String">
                <value>CFBVCO</value>
            </setting>
            <setting name="Sap_Password" serializeAs="String">
                <value>Cfbauto800</value>
            </setting>
            <setting name="Sap_Client" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Sap_Host" serializeAs="String">
                <value>saptiq96.tenaris.ot</value>
            </setting>
            <setting name="Sap_System" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="Sap_Language" serializeAs="String">
                <value>PT</value>
            </setting>
            <setting name="Sap_PoolSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Path_File" serializeAs="String">
                <value>\\CFBPIAP2\Sisdata\MANUTENCAO_PREDITIVA\</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>AUTMPIN</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>AUTMPIN</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>CONFAB</value>
            </setting>
            <setting name="InitialDateNotification" serializeAs="String">
                <value>2008-01-01</value>
            </setting>
        </Tenaris.Confab.SGM.Repositories.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
