<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tenaris.Confab.SGM.OilMgmtService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="ConfabEmail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <applicationSettings>
    <Tenaris.Confab.SGM.OilMgmtService.Properties.Settings>
      <setting name="ProcessIntervalShort" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="AdminEmailsFrom" serializeAs="String">
        <value>sgm@tenarisconfab.com.br</value>
      </setting>
      <setting name="AdminEmailsTo" serializeAs="String">
        <value>PINDA_NIVEL2@techint.ot</value>
      </setting>
      <setting name="IsProduction" serializeAs="String">
        <value>True</value>
      </setting>
    </Tenaris.Confab.SGM.OilMgmtService.Properties.Settings>
  </applicationSettings>
  <log4net debug="true">
    <logger name="Tenaris.Confab.LogManager">
      <level value="All"></level>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Watchdog\Log\SSMCWatchdog.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="1"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="true"/>

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %C.%M [%line] %-5level - %message %newline %exception %newline"/>
      </layout>
    </appender>
  </log4net>
<ConfabEmail.Properties.Settings>
    <setting name="Port" serializeAs="String">
      <value>25</value>
    </setting>
    <setting name="Host" serializeAs="String">
      <value>172.18.16.129</value>
    </setting>
    <setting name="Username" serializeAs="String">
      <value>Administrator</value>
    </setting>
    <setting name="Password" serializeAs="String">
      <value>Auto@brasil</value>
    </setting>
    <setting name="Domain" serializeAs="String">
      <value>CFBAUTOEQUALITY</value>
    </setting>
  </ConfabEmail.Properties.Settings>
</configuration>
