<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tenaris.Confab.SGM.InterfaceService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
          <section name="Tenaris.Confab.SGM.Repositories.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
      <section name="ConfabEmail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>

    </configSections>
  <connectionStrings>    
    <!--<add name="Tenaris.Confab.SGM.Repositories.Properties.Settings.dbConnection" connectionString="Data Source=localhost\MSSQLSERVER2012;Initial Catalog=SGM;Persist Security Info=True;User ID=sa;Password=sql2012" providerName="System.Data.SqlClient" />-->
    <!--<add name="Tenaris.Confab.SGM.Repositories.Properties.Settings.dbConnection" connectionString="Data Source=cfbautodev;Initial Catalog=SGM;Persist Security Info=True;User ID=sa;Password=Cfb@sql" providerName="System.Data.SqlClient" />-->
    <add name="Tenaris.Confab.SGM.Repositories.Properties.Settings.dbConnection" connectionString="Data Source=cfbautoeng;Initial Catalog=SGM;Persist Security Info=True;User ID=sa;Password=Cfbautoeng" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <Tenaris.Confab.SGM.InterfaceService.Properties.Settings>
            <setting name="IsProduction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>FBRAZ@fornecedores.confab.com.br</value>
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value>FBRAZ@fornecedores.confab.com.br</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>AUTMPIN</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>AUTMPIN</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>CONFAB</value>
            </setting>
            <setting name="Uri" serializeAs="String">
                <value>http://localhost:27852/</value>
            </setting>
            <setting name="Plants" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CT10</string>
                        <string>SB10</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DayCloseOfMonth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProcessIntervalOnError" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="ProcessIntervalShort" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="ProcessIntervalLong" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="PathUpload" serializeAs="String">
                <value>C:\Users\Fabio\Documents\Projetos\SGM\Services\Tenaris.Confab.SGM.WebAPI\Uploads</value>
            </setting>
            <setting name="AutomaticCreateNoteSAP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeCloseOfMonth" serializeAs="String">
                <value>15:05:00</value>
            </setting>
            <setting name="TimeCloseOfWeek" serializeAs="String">
                <value>15:05:00</value>
            </setting>
            <setting name="DayCloseOfWeek" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TimeCloseOfDaily" serializeAs="String">
                <value>23:55:00</value>
            </setting>
        </Tenaris.Confab.SGM.InterfaceService.Properties.Settings>
      <Tenaris.Confab.SGM.Repositories.Properties.Settings>
        <!--<setting name="Name" serializeAs="String">
                <value>TIQ</value>
            </setting>
            <setting name="Sap_User" serializeAs="String">
                <value>TERCRD</value>
            </setting>
            <setting name="Sap_Password" serializeAs="String">
                <value>crd020</value>
            </setting>
            <setting name="Sap_Client" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Sap_Host" serializeAs="String">
                <value>saptiq96.tenaris.ot</value>
            </setting>
            <setting name="Sap_System" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="Sap_Language" serializeAs="String">
                <value>PT</value>
            </setting>
            <setting name="Sap_PoolSize" serializeAs="String">
                <value>10</value>
            </setting>-->
        
        <setting name="Sap_Password" serializeAs="String">
          <value>Cfbauto800</value>
        </setting>
        <setting name="Sap_Client" serializeAs="String">
          <value>800</value>
        </setting>
        <setting name="Sap_Language" serializeAs="String">
          <value>PT</value>
        </setting>
        <setting name="Sap_PoolSize" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="Name" serializeAs="String">
          <value>TEP</value>
        </setting>
        <setting name="Sap_User" serializeAs="String">
          <value>CFBPMM2</value>
        </setting>
        <setting name="Sap_Host" serializeAs="String">
          <value>saptep52.tenaris.ot</value>
        </setting>
        <setting name="Sap_System" serializeAs="String">
          <value>52</value>
        </setting>
        <setting name="Path_File" serializeAs="String">
          <value>\\CFBPIAP2\Sisdata\MANUTENCAO_PREDITIVA\</value>
        </setting>
      </Tenaris.Confab.SGM.Repositories.Properties.Settings>
    </applicationSettings>
    <log4net>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="C:\Users\Fabio\Documents\Projetos\SGM\Tenaris.Confab.SGM.InterfaceService.Log"/>
        <appendToFile value="true"/>
        <rollingStyle value="Size"/>
        <maxSizeRollBackups value="50"/>
        <maximumFileSize value="5MB"/>
        <staticLogFileName value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%level] - %message%newline"/>
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
          <levelMin value="WARN"/>
          <levelMax value="ERROR"/>
        </filter>
      </appender>
      <root>
        <level value="ALL"/>
        <appender-ref ref="RollingFileAppender"/>
      </root>
    </log4net>
    <ConfabEmail.Properties.Settings>
      <setting name="Port" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="Host" serializeAs="String">
        <value>172.18.16.129</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>Administrator</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Auto@brasil</value>
      </setting>
      <setting name="Domain" serializeAs="String">
        <value>CFBAUTOEQUALITY</value>
      </setting>
    </ConfabEmail.Properties.Settings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
